body {
  background: #D5DADB;
  color: #2F3245;
}

.container { 
  display: grid;
  margin: auto;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas: 
  "hd"
  "ti"
  "main"
  "ft";
}

.header{
  margin: auto;
  width: 80%;
  padding: 10px;
  grid-area: hd;
}

.title-about{
  margin: auto;
  width: 80%;
  padding: 10px;
  grid-area: ti;
}

.news-title {
  margin: auto;
  width: 80%;
  padding: 10px;
  grid-area: main;
}

.news{
  margin: auto;
  width: 80%;
  padding: 10px;
}

#footer{
  background: #EAAB12;
  grid-area: ft;
  display: block;
  padding: 2px;
  height: auto;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

img{
  display: flex;
  width: 80%;
  height: auto;
  vertical-align: middle;
  padding: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.line{
  display: block;
  width: 80%;
  padding: 2px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #2F3245;
}

a:visited {
  color: #2F3245;
  }

.back-button{
  display: inline;
  margin: 45px;
  padding: 10px;
  border-style: solid;
  border-radius: 15px;
  border: 1px solid;
}

.post-image{
  display: flex;
  width: 100%;
}

@media (min-width:900px) {
  .container{
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 600px 250px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "ti ti ti ti ti ti ti ti"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft"
    ;
  }
}